<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/me.jpeg"><br><br>
        <p>Hello, I am Parth Patil. A Backend Development Intern in Scaletech Solutions.</p><br>
        <p>This is my very first Node.js application built and deployed under my internship.</p>
            
    </div>
    {{>footer}}
</body>
</html>